<%= form_with scope: :company, url: companies_path, local: true do |form| %>

  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@company.errors.count, "error") %> prohibited
        this company from being saved:
      </h2>
      <ul>
        <% @company.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </p>

  <p>
    <%= form.label :logo %><br>
    <%= form.file_field :logo %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.email_field :email %>
  </p>

  <p>
    <%= form.label :head_quarter_location %><br>
    <%= form.text_field :head_quarter_location %>
  </p>

  <p>
    <%= form.label :head_quarter_location %><br>
    <%= form.text_field :head_quarter_location %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
  
<% end %>