<p>
  <strong>Name</strong>
  <%= company.name %>
</p>
 
<p>
  <strong>Description</strong>
  <%= company.description %>
</p>

<p>
  <strong>Logo</strong>
  <%= company.logo %>
</p>

<p>
  <strong>Email</strong>
  <%= company.email %>
</p>

<p>
  <strong>Head Quarter location</strong>
  <%= company.head_quarter_location %>
</p>
